/* content styles */
.popout {
    position: absolute;
    width: 200px;
    padding: 9px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee;
    border-radius: 4px;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
}
.source {
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #eee;
}
.trans-res {
    padding-top: 9px;
    color: #333;
}